<h1>Task: <%=@task.title %></h1>
<p>Details: <%=@task.details %></p>
<p>Completed: <%=check_box_tag @task.title, @task.title, @task.completed %></p>


<h2><%= link_to 'Edit', edit_task_path(@task) %>
<h2><%= link_to 'Homepage', tasks_path %>
<h2><%= link_to 'Remove', task_path, method: :delete %>

