
<div style="text-align: center">
  <h1 style="margin-top: 50px;">Task: <%=@task.title %></h1>
  <p>Details: <%=@task.details %></p>

  <h2><%= link_to 'Edit', edit_task_path(@task), class: "btn btn-primary" %>
  <h2><%= link_to 'Homepage', tasks_path, class: "btn btn-primary"%>
  <h2><%= link_to 'Remove', task_path, method: :delet, class: "btn btn-primary"%>
</div>

